---
import Layout from '../layouts/Layout.astro'
---

<Layout title="10 idées reçues sur l'anarchisme">
  <main>
    <h1>« L'Anarchie ça existe encore ?!! »</h1>
    <h2>Idée reçue n°<strong>2</strong></h2>
    <p>
      Oui !!! Les mouvements anarchistes n'attirent pas les faveurs des
      médias... tout simplement parce qu'ils remettent le pouvoir médiatique en
      question !
    </p>
    <p>
      Et puis, par définition, aucun chefaillon charismatique n'est là pour
      prêcher la bonne parole anarchiste, ce qui laisse peu de place dans une
      société de l'information organisée autour des émissions de divertissement
      de la télé-poubelle...
    </p>
    <p>
      La pensée anarchiste est pourtant particulièrement vivace aujourd'hui,
      dans notre monde injuste où de plus en plus de gens prennent conscience
      qu'il est grand temps d'inventer une nouvelle société !
    </p>
    <aside>
      <p>
        Quelques-unes parmi les (nombreuses) expériences d'autogestion actuelles
        :
      </p>

      <ul>
        <li>Les jardins partagés «Ecobox» (à Paris depuis 2001)</li>
        <li>
          Le Lycée Autogéré de Paris, qui fête cette année (2012) ses trente ans
        </li>
        <li>Les coopératives de Longo Maï etc...</li>
      </ul>
    </aside>
  </main>
</Layout>

<style></style>
