@font-face {
    font-family: 'Novela';
    src: url('novela-displayregular-webfont.eot');
    src: url('novela-displayregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-displayregular-webfont.woff2') format('woff2'),
         url('novela-displayregular-webfont.woff') format('woff'),
         url('novela-displayregular-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Novela';
    src: url('novela-regular-webfont.eot');
    src: url('novela-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-regular-webfont.woff2') format('woff2'),
         url('novela-regular-webfont.woff') format('woff'),
         url('novela-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Novela';
    src: url('novela-semibold-webfont.eot');
    src: url('novela-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-semibold-webfont.woff2') format('woff2'),
         url('novela-semibold-webfont.woff') format('woff'),
         url('novela-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Novela';
    src: url('novela-bold-webfont.eot');
    src: url('novela-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-bold-webfont.woff2') format('woff2'),
         url('novela-bold-webfont.woff') format('woff'),
         url('novela-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Novela';
    src: url('novela-black-webfont.eot');
    src: url('novela-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-black-webfont.woff2') format('woff2'),
         url('novela-black-webfont.woff') format('woff'),
         url('novela-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Novela';
    src: url('novela-displayitalic-webfont.eot');
    src: url('novela-displayitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-displayitalic-webfont.woff2') format('woff2'),
         url('novela-displayitalic-webfont.woff') format('woff'),
         url('novela-displayitalic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Novela';
    src: url('novela-regularitalic-webfont.eot');
    src: url('novela-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-regularitalic-webfont.woff2') format('woff2'),
         url('novela-regularitalic-webfont.woff') format('woff'),
         url('novela-regularitalic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Novela';
    src: url('novela-semibolditalic-webfont.eot');
    src: url('novela-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-semibolditalic-webfont.woff2') format('woff2'),
         url('novela-semibolditalic-webfont.woff') format('woff'),
         url('novela-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Novela';
    src: url('novela-bolditalic-webfont.eot');
    src: url('novela-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-bolditalic-webfont.woff2') format('woff2'),
         url('novela-bolditalic-webfont.woff') format('woff'),
         url('novela-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Novela';
    src: url('novela-blackitalic-webfont.eot');
    src: url('novela-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('novela-blackitalic-webfont.woff2') format('woff2'),
         url('novela-blackitalic-webfont.woff') format('woff'),
         url('novela-blackitalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
